/* HEADER COLORS */
$header-title: #ffffff;
$header-background: #222B2D;
$header-title-settings: #858585;
$header-background-settings: #F4F4F4;
$header-icon-active: #7E9DB9;
$header-icon-done-text: #00CAF2;

/* LIST COLORS */
$active-item-background: #E6E9E9;
$selected-item-background: #999999;
$list-item-text: #333;
$list-item-border: #E7E7E7;
$list-item-unread-indicator: #A09FA7;

/* ARTICLE COLORS */
$article-title-background: #2C393B;
$article-title-text: #F6F1F1;
$article-author-text: #A09FA7;
$article-date-text: #A09FA7;

/* BUTTON COLORS */
$default-button-background: #D8D8D8;
$active-button-background: #00AACC;
$action-button-background: #4E4E4E;
$action-button-text: #FFFFFF;
$default-button-text: #333;

/* MODAL COLORS */
$modal-background: #2D2D2D;

/* INPUT COLORS */
$input-background: #ffffff;
$input-border: #C7C7C7;
$input-focused-bottom-border: #00CAF2;
$input-border-error: red;
$input-text-color: #333;

/* SETTINGS SCREEN COLORS */
$settings-subsection-background: #E7E7E7;
$settings-subsection-text: #707070;

/* ACTIVITY INDICATOR COLORS */
$activity-indicator-background: #FFA500;
$activity-indicator-glow: #EF692B;

/* OTHER */
$empty-screen-error-text: #868686;

/* ANIMATIONS */
$fast: 0.25s;

/* MIXINS */
@mixin user-select($value) {
	user-select:$value;
	-moz-user-select: $value;
	-webkit-user-select: $value;
	-ms-user-select: $value;
	-o-user-select: $value;
}

html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	font-family: sans-serif;
	font-size: 62.5%;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	z-index: 2;
	background-color: $header-background;

	&.settings-header {
		background-color: $header-background-settings;

		h1 {
			color: $header-title-settings;
		}

		.icon-back-settings {
			background-image: url("../img/icons/back-settings.svg");
		}
	}


    a {
        box-sizing: border-box;
    	position: relative;
    	display: block;
    	overflow: hidden;
    	float: left;
    	min-width: 5rem;
    	width: auto;
    	height: 5rem;
    	border: medium none;
    	background: none repeat scroll 0% 0% transparent;
    	padding: 0px 1rem;
    	margin: 0px;
    	font-weight: 400;
    	font-size: 1.5rem;
    	line-height: 5rem;
    	border-radius: 0px;
    	text-decoration: none;
    	text-align: center;
    	text-shadow: none;
    	font-style: italic;

        .icon-back {
        	background-image: url("../img/icons/back.svg");
        }

        .icon-offline {
        	background-image: url("../img/icons/offline.svg");
        }

        .icon-online {
        	background-image: url("../img/icons/online.svg");
        }

        .icon-settings {
        	background-image: url("../img/icons/settings.svg");
        }

		.icon-reload {
        	background-image: url("../img/icons/sync.svg");
        }

		.icon-mark-as-read {
        	background-image: url("../img/icons/tick.svg");
        }

		.icon-close {
        	background-image: url("../img/icons/close.svg");
        }

		&.icon-done {
			color: $header-icon-done-text;
		}

        &.btn-buttons {
        	float: right;
        }

        &:active {
        	background-color: $header-icon-active;
        }
    }

    .icon {
    	display: block;
    	width: 3rem;
    	height: 5rem;
    	background: none no-repeat scroll center center / 3rem auto transparent;
    	font-size: 0px;
    }

    h1 {
    	color: $article-title-text;
    	font-weight: 300;
    	font-style: italic;
    	text-align: center;
    	font-size: 2.3rem;
    	line-height: 5rem;
    	white-space: nowrap;
    	text-overflow: ellipsis;
    	display: block;
    	overflow: hidden;
    	margin: 0px;
    	padding: 0px 1rem;
    	height: 100%;
    }
}

#login-icon {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

form {
	width: 95%;
	margin: auto;
	text-align: center;
}

input[type=text], input[type=password] {
	font-family: sans-serif;
	box-sizing: border-box;
	display: block;
	width: 100%;
	height: 4rem;
	line-height: 4rem;
	resize: none;
	padding: 0px 1.5rem;
	font-size: 1.6rem;
	border: 0.1rem solid $input-border;
	border-radius: 0px;
	box-shadow: none;
	color: $input-text-color;
	background: none repeat scroll 0% 0% $input-background;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;

	&:focus {
		border-bottom: 2px solid $input-focused-bottom-border;
	}

	&.error {
		border-color: $input-border-error;
	}
}

.default {
	font-family: sans-serif;
	font-style: italic;
	width: 95%;
	height: 40px;
	margin: auto;
	padding: 0px 1.2rem;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: middle;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	background: none repeat scroll 0% 0% $default-button-background;
	border: medium none;
	border-radius: 2rem;
	font-weight: normal;
	font-size: 1.6rem;
	line-height: 4rem;
	color: $default-button-text;
	text-align: center;
	text-decoration: none;
	outline: medium none;
}

.default:active {
	background-color: $active-button-background;
}

.empty-screen-error {
	font-size: 1.8rem;
	margin: 1rem 1rem 1rem 1rem;
	color: $empty-screen-error-text;
}

#content {
	position: relative;
	height: calc(100% - 5rem);
	top: 5rem;

	@keyframes slideInRight {
		from { transform: translateX(100%); }
		to { transform: translateX(0); }
	}

	@keyframes slideInLeft {
		from { transform: translateX(-100%); }
		to { transform: translateX(0); }
	}

	@keyframes slideInTop {
		from { transform: translateY(-100%); }
		to { transform: translateY(0); }
	}

	@keyframes slideInBottom {
		from { transform: translateY(100%); }
		to { transform: translateY(0); }
	}

	&.headlines-view.ng-enter {
		animation: slideInRight $fast;
	}

	&.headlines-view-back.ng-enter, &.categories-view-back.ng-enter {
		animation: slideInLeft $fast;
	}

	&.articles-view.ng-enter {
		animation: slideInBottom $fast;
	}

	&.settings-view.ng-enter {
		animation: slideInTop $fast;
	}
}

ul.trss-list {
	padding: 0;
	overflow: auto;
	list-style: outside none none;
	margin: 0px;
	font-size: 1.9rem;
	font-weight: normal;
	line-height: 2.5rem;
}

ul li {
	color: $list-item-text;

	@include user-select(none);

	&.selected {
		background-color: $selected-item-background;
	}

    &.category, &.settings-item {
      min-width: 100%;
    	box-sizing: border-box;
    	margin: 0px;
    	padding: 0px;
    	display: block;
    	position: relative;
    	list-style: none outside none;
    	font-size: 1.9rem;
    	font-weight: normal;
    	line-height: 2.5rem;

        p.group-item {
            font-size: 1.8rem;
        	line-height: 4rem;
        	padding: 1rem 0px 10px;
        	white-space: nowrap;
        	overflow: hidden;
        	text-overflow: ellipsis;
        	border: medium none;
        	display: block;
        	margin: 0;
        	list-style: none outside none;
			border-bottom: 1px solid $list-item-border;
			margin: 0px 1rem 0px 1rem;

            .unread-amount {
                color: $list-item-unread-indicator;
            	font-size: 0.8em;
            	margin-left: 0.3em;
            }
        }
    }

    &.feed {
        font-size: 0.7em;
        white-space: normal;
        line-height: 2rem;

		p {
			margin: 0px 1rem 0px 1rem;
			border-bottom: 1px solid $list-item-border;
		}

        .unread {
            font-weight: 600;
        }
    }

	&.selectable:active {
		background-color: $active-item-background;

		&.selected {
			background-color: $selected-item-background;
		}
	}

	.headline {
		margin: 0;
		padding: 10px 0 10px 0;
	}
}

#full {
	position: fixed;
	top: 5rem;
	bottom: 0px;
	right: 0;
	left: 0;
	overflow-y: scroll;

	article {
		min-height: 100%;
	}

	article h1 {
		font-size: 2.5em;
		padding: 10px 5px 5px;
		margin: 0px;
		background-color: $article-title-background;
		min-height: 3em;
		color: $article-title-text;
		font-family: sans-serif;
		font-weight: 400;
	}

	article a.title-link {
		text-decoration: none;
	}

	article .article-date {
		font-size: 2em;
		color: $article-date-text;
		float: right;
		margin: 0;
	}

	article .article-author {
		font-size: 2em;
		color: $article-author-text;
		float: left;
		margin: 0;
	}

	article  div.article-content{
		font-size: 2.3em;
		margin: 20px 5px 20px 5px;
	}

	article div.article-content img {
		max-width: 100%;
		height: auto;
	}

	article #article-swipe-help-background {
		position: fixed;
		top: 0px;
		bottom: 0px;
		left: 0px;
		right: 0px;
		background-color: black;
		opacity: 0.8;
	}

	article #article-swipe-help {
		position: fixed;
		top: 43%;
		color: white;
		text-align: center;
		font-size: 3rem;
	}
}

.ng-hide {
	display: none;
}

.settings-subsection {
	height: 3rem;
	background-color: $settings-subsection-background;
	font-size: 1.5rem;
	line-height: 3rem;
	padding-left: 2rem;
	color: $settings-subsection-text;
}

.modal {
	position: absolute;
	top: -5rem; // 0 starts just after the header, we want the modal to hie the header
	z-index: 3;
	width: 100%;
	height: 100%;
	background-color: $modal-background;

	&.ng-hide-add {
		animation: slideInBottom $fast;
	}

	&.ng-hide-remove {
		animation: slideInBottom $fast;
	}
}

.action-button {
	display: block;
	width: 95%;
	margin: 10px auto 10px auto;
	height: 40px;
	background-color: $action-button-background;
	border: none;
	border-radius: 0;
	color: $action-button-text;
	font-family: sans-serif;
	font-style: italic;
	font-size: 1.6rem;
	background-image: none;
}

.action-button:active {
	background-color: $active-button-background;
}

.bottom-container {
	position: fixed;
	bottom: 0px;
	width: 100%;
	min-height: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: $action-button-background;
	text-align: center;
}

@-webkit-keyframes glow {
	from {
		left: -70px;
	}
	to {
		left: 100%;
	}
}

@-moz-keyframes glow {
	from {
		left: -70px;
	}
	to {
		left: 100%;
	}
}

@-o-keyframes glow {
	from {
		left: -70px;
	}
	to {
		left: 100%;
	}
}

@keyframes glow {
	from {
		left: -70px;
	}
	to {
		left: 100%
	}
}

#activity-indicator {
	position: relative;
	height: 0.4rem;
	width: 100%;
	background-color: $activity-indicator-background;
	overflow: hidden;
}

#activity-indicator::after{
	position: absolute;
	display: block;
	width: 15rem;
	height: 250%;
	top: -50%;
	content: "";
	animation: glow 2s linear infinite;
	-webkit-animation: glow 2s linear infinite;
	background: $activity-indicator-glow;
	z-index: 2;
}
