<section id="settings">
  	<article>
        <ul class="trss-list">
            <li class="settings-item selectable">
                <p ng-click="revealLanguageSwitcher()" class="group-item">
                    {{'language' | translate}}: {{currentLanguage | translate}}
                </p>
            </li>
            <li class="settings-item">
                <p class="version group-item">
                    {{'runningVersion' | translate}}: {{version}}
                </p>
            </li>
            <li class="settings-item">
                <p class="madeby group-item">
                    {{'developer' | translate}}:
                    <a href="https://github.com/markelarizaga/TinyRSS" target="_blank">Markel Arizaga</a>
                </p>
            </li>
            <li class="settings-item selectable">
                <p ng-click="logout()" class="button group-item" translate>
                    logOut
                </p>
            </li>
    	</ul>
  	</article>
	<article ng-show="switchLanguage" class="modal">
		<button class="action-button" ng-click="changeLanguage('eu')" translate>eu</button>
		<button class="action-button" ng-click="changeLanguage('en')" translate>en</button>
		<button class="action-button" ng-click="changeLanguage('es')" translate>es</button>
        <div class="bottom-container">
            <button class="default" ng-click="dismissLanguageSwitcher()" translate>cancel</button>
	    </div>
    </article>
</section>
