<section id="article-layout" class="full">
  <article hm-swipeleft="onHammer" hm-swiperight="onHammer" data-hm-recognizer-options='[{"type":"swipe","directions":"DIRECTION_HORIZONTAL"}]'>
    <a href="{{article.link}}" target="_blank" class="title-link"><h1>{{article.title}}</h1></a>
    <div>
    	<p class="article-author">{{article.author}}</p>
    	<p class="article-date">{{article.updated * 1000 | date:medium}}</p>
    </div>
    <div class="article-content" ng-bind-html="article.content"></div>
  </article>
  <article ng-hide="helpAlreadyShown">
      <div id=article-swipe-help-background ng-click="hideHelp()"></div>
      <div id="article-swipe-help" ng-click="hideHelp()" translate>articleSwipeHelp</div>
  </article>
</section>
