<header class="fixed" ng-controller="Header">
	<a ng-show="!isRoot" ng-click="goBack()" id="btn-buttons-back">
		<span class="icon icon-back">back</span>
	</a>
	<a ng-show="isRoot" ng-click="openSettings()" class="btn-buttons">
		<span class="icon icon-settings">settings</span>
	</a>
	<a ng-show="isRoot" ng-click="toggleOffline()" class="btn-buttons">
		<span class="icon" ng-class="{'icon-offline': !offline, 'icon-online': offline}">toggle offline</span>
	</a>
	<a ng-show="isRoot && !offline" ng-click="reloadFeeds()" class="btn-buttons">
		<span class="icon icon-reload">reload</span>
	</a>
	<h1 translate>appTitle</h1>
	<div id="activity-indicator" ng-show="backgroundWorkPresent"></div>
</header>
