<section id="categories" class="active">
    <article>
        <ul class="trss-list">
            <li ng-repeat="category in categories"
                class="category selectable"
                hm-press="onLongPress(category)"
                ng-class="{selected: category.ui.selected}">
                <p ng-click="openElement(category)" class="group-item">{{category.title}}
                    <span class="unread-amount">({{category.unread}})</span>
                </p>
            </li>
        </ul>
        <div class="empty-screen-error" ng-show="noCategoriesAvailable" translate>
            noCategoriesToShow
        </div>
    </article>
</section>
