<section id="login">
  <header class="bar">
    <h1>Please log in</h1>
  </header>
  <article>
    <form>
      <p>
        <label for="url">URL:</label>
        <input class="button" type="text" name="url" id="url" placeholder="http://example.com/tt-rss/" x-inputmode="verbatim" autocorrect="off" ng-model="server_url" />
        <label for="un">Username:</label>
        <input class="button" type="text" name="user" id="un" placeholder="username" x-inputmode="verbatim" autocorrect="off" ng-model="username" />          
        <label for="pw">Password:</label>
        <input class="button" type="password" name="pass" id="pw" placeholder="password" x-inputmode="verbatim" autocorrect="off" ng-model="password" />      
      </p>
      <p>
        <button class="button" type="submit" ng-click="attemptLogin()">Sign in</button>
      </p>
    </form>
  </article>
</section>